{
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 3, "proposals": true }],
    ["module-resolver", {
      "alias": {
        "@readableStream": "./tdf3/mocks/stream-web-node.js",
        "@tdfStream": "./tdf3/src/client/NodeTdfStream.js",
        "@runtimeConfig": "./tdf3/src/utils/aws-lib-storage/runtimeConfig"
      }
    }]
  ],
  "ignore": ["**/*.html"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "11"
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}
