{
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "include": [
    "tdf3/src/**/*.js",
    "tdf3/src/**/*.ts"
  ],
  "exclude": [
    "test/mocha/**/*.spec.*"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true,
  "check-coverage": false,
  "cache": true
}
