name: Build, Test, and Deliver Client

on:
  schedule:
    - cron: '0 4 * * 2,4'
jobs:
  lib:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./lib
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: './lib/package-lock.json'
      - run: npm ci
      - run: npm test
      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: lib/coverage/
      - run: npm audit --omit dev --audit-level moderate
      - run: npm run license-check
      - run: npm run lint
      - run: npm pack
      - uses: actions/upload-artifact@v4
        with:
          name: opentdf-sdk-lib
          path: ./lib/opentdf-sdk-*.tgz

  cli:
    needs:
      - lib
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cli
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: './cli/package-lock.json'
      - uses: actions/download-artifact@v4
        with:
          name: opentdf-sdk-lib
          path: lib/
      - run: npm uninstall @opentdf/sdk && npm ci && npm i ../lib/opentdf-sdk-*.tgz
      - run: npm test
      - run: npm audit --omit dev --audit-level moderate
      - run: npm run license-check
      - run: npm run lint
      - run: npm pack
      - uses: actions/upload-artifact@v4
        with:
          name: opentdf-ctl
          path: ./cli/opentdf-ctl-*.tgz

  web-app:
    needs:
      - lib
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web-app
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: './web-app/package-lock.json'
      - uses: actions/download-artifact@v4
        with:
          name: opentdf-sdk-lib
          path: lib/
      - run: npm uninstall @opentdf/sdk && npm ci && npm i ../lib/opentdf-sdk-*.tgz
      - run: npm install
      - run: npm test
      - run: npm audit --omit dev --audit-level moderate
      - run: npm run license-check
      - run: npm run lint
      - run: npm pack
